body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* part of my crazy fix for the material-ui tables */
td {
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center !important;
}
