.portfolio-wrapper {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-end;
  color: "blue";
  background-color: "red";
}
.portfolio-wrapper > * {
  flex-grow: 1;
}
.no-grow {
  flex-grow: 0;
}
.portfolio-screen-title {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.portfolio-screen-title > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.portfolio-stats-table {
  margin: 2rem 0;
}
.portfolio-main-table {
  margin: 2rem 0;
  flex-grow: 10;
}
